<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Error!</h1>
            <p>THERE IS AN ERROR ON OUR SIDE. PLEASE TRY IT LATER</p>
        </div>
    </body>
</html>